.authentication-page {
  height: 100vh;
  width: 100vw;
  display: flex;
}

.auth-form__container {
  height: fit-content;
  max-height: 20rem;
  width: 90%;
  max-width: 27rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 2rem;

  background-color: #4D9078;
  border-radius: 15px;
  box-shadow: 3px 3px 15px black;
}

.auth-form__container form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.auth-error__container {
  height: fit-content;
  width: 100%;
  margin-bottom: 1rem;
  border-style: solid;
  border-width: 2px;
  border-color: #f71735;
  border-radius: 10px;
}

.auth-error__container p {
  color: #f71735;
  padding: 0 1rem;
}

.auth-form__container label {
  display: block;
  float: left;
}

.auth-form__container input {
  display: block;
  float: left;
  padding: 5px;
  margin-bottom: 0.75rem;
  border-radius: 5px;
}

.auth-form__container button {
  height: 2rem;
  width: fit-content;
  font-size: 11pt;
  background-color: #fdfffc;
  border-radius: 5px;
  padding: 7px 10px;
  margin: 0.25rem;
}

.auth-form__name-input-container {
  display: flex;
  flex-direction: row;
}

.auth-form__firstname-input,
.auth-form__lastname-input {
  height: 4rem;
  width: 50%;
}

.auth-form__firstname-input input,
.auth-form__lastname-input input {
  width: 90%;
}
