.button {
  padding: 0.6rem;
  margin: 0.6rem;
  color: black;
  box-shadow: 2px 2px 5px black;
  border-style: none;
  border-radius: 10px;
}

.button-container button:hover {
  cursor: pointer;
}

.button-container button:active {
  box-shadow: 0px 0px 5px black;
}

.action {
  background-color: #ff9f1c;
}

.delete {
  background-color: #f71735;
}
