.loading-bar {
  height: 25px;
  width: 200px;
  background-color: lightgrey;
}

@keyframes loading {
  from {
    top: 50%;
    left: 25px;
    transform: translate(-50%, -50%);
  }
  to {
    top: 50%;
    left: 175px;
    transform: translate(-50%, -50%);
  }
}

.loading-rectangle {
  height: 20px;
  width: 40px;
  position: relative;
  top: 50%;
  left: 25px;
  transform: translate(-50%, -50%);
  display: block;
  background-color: #4d9078;
  animation-name: loading;
  animation-duration: 0.75s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}
