.confirm-delete__container {
  height: fit-content;
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.confirm-delete__actions {
  height: fit-content;
  width: fit-content;
  display: flex;
  flex-direction: row;
}
