.navbar {
  position: fixed;
  width: 100%;
  height: 64px;
  z-index: 100;
  display: flex;
  align-items: center;
  background-color: #4d9078;
  overflow: hidden;
}

.navbar h1 {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24pt;
  color: white;
}

.nav-links__container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar__username {
  height: fit-content;
  width: fit-content;
  max-width: 11.5rem;
  overflow: hidden;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(-50%, -50%);
}

.navbar__username h3 {
  margin: 0;
  color: white;
}

@media (max-width: 768px) {
  .navbar h1 {
    display: none;
  }

  .navbar__username h3 {
    display: none;
  }
}
